
.nav-links{
    color: #011c38;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

div.pagenav.navbar-nav{
  margin-left: auto;
}

a.allnav.nav-link{
  margin-left: 1vh;
  margin-right: 1vh;
  color:black ;
  text-align: center;
  margin-top: 1.5vh;
}
a.allnav.nav-link:hover{
  border-radius: 2px;
  color: #a51c30;
}
a.allnav.dropdown-item{
  color:black;
  width: auto;
}
a.allnav.dropdown-item:hover{
  border-radius: 2px;
  color: #a51c30;
}
 nav.othernav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top{
  box-shadow:0 -20px 20px -20px #8cb0d4 inset;
  background-color: #DAEAF1;
  width: 100vw;
} 
span.logonav.navbar-brand{
  margin: auto;
}
div.allnav.nav-item.dropdown{
  text-align: center;


}
