.image{
    max-width: 100%;
    height:auto;
}
.heading{
    color: #011c38;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: medium;
}
.w-100{
    box-shadow:0 -20px 20px -20px #8cb0d4 inset;
    background-color: #DAEAF1;
}
.row2{
  box-shadow:0 -20px 20px -20px #8cb0d4 inset;
  width: 99vw;
  height:30vh;

}
div.row{
  --bs-gutter-x: 0rem;
}
.photo{
    width: 10vw;
    height: 10vw;
  }

  .bgimage{
    background-image: url('../images/IGDTUW2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 50vw;
    background-attachment: fixed;

  }
  
  .element style {
    all: none;
  }

  .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    
  }
 a.homenav{
    font-size: 3vh;
    color:black ;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    justify-content: center;
    text-align: center;
  }
  a.homenav:hover{
      border-radius: 2px;
      color: #a51c30;
  }
  
  div.homenav.nav-item.dropdown{
    font-size: 3vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    color:black ;
    justify-content: center;
    text-align: center;
   
  }
  div.homenav.nav-item.dropdown:hover{
    border-radius: 2px;
    color: #a51c30; 
  } 
  a.homenav.dropdown-item{
    font-size: 100%; 
    margin-left: 10px;
    margin-right: 10px;
   padding: 10px;
    width: auto;
  }
  a.dropdown-toggle.nav-link{
    color: #011c38;
    text-align: center;
    padding-top: 20px;
  }
  a.dropdown-toggle.nav-link:hover{
    border-radius: 2px;
    color: #a51c30; 
  }
  
  div.Navigation.navbar-nav{
    box-shadow: 0px -20px 40px -10px #8cb0d4 inset;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
   /* border-radius: 25px 25px 25px 25px; */
   width: 98vw;
  }
 div.Navigation.navbar-nav{
  border-radius: 25px 25px 25px 25px;
position:relative;
bottom: 2px;
 }
/*cards css*/
 .box{
   background-color: rgb(183, 219, 250);
   border: 10px 10 px 10px 10px;
   overflow: hidden;
   height: 200px;
   max-height: fit-content;
   -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
   box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
   margin: 20px;
 }

 .grid{
   min-height: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
 }

 .grid > div{
   flex-basis: calc(20% -40px);
 }
 .card-img-top {
  width: 100%;
  object-fit: cover;
  height: 30%;
}


 .Butn{
  display: inline-block;
  background-color: #570dbe;
  border-radius: 10px;
 }
  div.box.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    box-shadow: 0px -20px 40px -10px #8cb0d4 inset;
    transition: all .15s ease;
  }
  div.box.card:hover{
    box-shadow: -3px 18px 20px 0px rgba(99,89,99,1);
    transition: all .15s ease;
}
  

  a.btn.btn-outline-info{
    color: blue;
  }

  @media screen and (max-width:420px) {
    div#coverTitle.w-100{
      font-size:30px;
    }
  }
  .side-by-side { 
    display: flex; 
    padding-left:4vw;
    padding-right: auto;
  } 
  img.imagevc{
    width: 60%;
    height: 90%;
  }
  p.msgvc{
    
    padding-top: 5vw;
   padding-left: 5vw;
    font-size: 2vw;
     font-family: 'Taviraj', serif;
  }
  h1.msgheading{
    padding-top: 2vw;
    padding-bottom: 5vw;
    font-family: 'Philosopher', sans-serif;

  }
  p.para
  {
    text-align: justify;
  padding-left: 8vw;
  padding-right: 8vw;
  font-size: 1.3vw;

  }
  div.msgvice{
    background-color: #f6f6f6;
    padding-bottom: 3vw;
  }
  div.row2{
    height: 12.5vw;
    margin-top: -2vw;
   padding-bottom: -2vw;
    margin-bottom: 0vw;
    width: auto;

  }
  

  
  /* .column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */
div.row{
  --bs-gutter-x: 0rem;
}
p.phead{

 margin-top: -2vw;
 margin-top: -2vw;
}