.image{
    max-width: 100%;
    height:auto;
}
.heading{
    color: #011c38;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: medium;
}
.w-100{
    box-shadow:0 -20px 20px -20px #8cb0d4 inset;
    background-color: #DAEAF1;
}
.photo{
    width: 100px;
    height: 100px;
  }

  .bg_image{
    background-image: url('../images/IGDTUW2.jpg');
    background-size: cover;
    height: 100vh;
  }
  .element style {
    all: none;
  }